In [1]:
#1 
letras=dict()
print(letras)

{}

In [2]:
#2
numeros={"1":"uno","2":"dos","3":"tres","4":"cuatro","5":"cinco"}
print(numeros)

{'1': 'uno', '2': 'dos', '3': 'tres', '4': 'cuatro', '5': 'cinco'}

In [3]:
#3
valor=input("Elige un número del 1 al 5:")
print(numeros[valor])

uno

In [4]:
#4
nuevo={"6":"seis"}
numeros.update(nuevo)
print(numeros)

{'1': 'uno', '2': 'dos', '3': 'tres', '4': 'cuatro', '5': 'cinco', '6': 'seis'}

In [5]:
#5
numeros["6"]="3+3"
print(numeros)

{'1': 'uno', '2': 'dos', '3': 'tres', '4': 'cuatro', '5': 'cinco', '6': '3+3'}

In [6]:
#6
eliminar=input("Elige un número del 1 al 6 para eliminar:")
numeros.pop(eliminar)
print(numeros)

{'1': 'uno', '3': 'tres', '4': 'cuatro', '5': 'cinco', '6': '3+3'}

In [7]:
#7 
verificar = input('Elige un número del 1 al 6 para comprobar si está en el diccionario: ')
numeros.get(verificar,'Ese número no se encuentra en el diccionario')

'tres'

In [8]:
#8
numeros.keys()

dict_keys(['1', '3', '4', '5', '6'])

In [9]:
#9
numeros.values()

dict_values(['uno', 'tres', 'cuatro', 'cinco', '3+3'])

In [10]:
#10
numeros.setdefault('7','siete')
print(numeros)

{'1': 'uno', '3': 'tres', '4': 'cuatro', '5': 'cinco', '6': '3+3', '7': 'siete'}

In [11]:
#11
numeros.pop('6')
print(numeros)
numeros.popitem()
print(numeros)

{'1': 'uno', '3': 'tres', '4': 'cuatro', '5': 'cinco', '7': 'siete'}
{'1': 'uno', '3': 'tres', '4': 'cuatro', '5': 'cinco'}

# SETS

In [12]:
#1
vacio = set()
print(vacio)

set()

In [13]:
#2
numeros2 = {1,2,3,4,5}
print(numeros2)

{1, 2, 3, 4, 5}

In [14]:
#3
numeros2.add(6)
print(numeros2)
par_numeros=(7,8)
numeros2.update(par_numeros)
print(numeros2)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
#4
eliminar_set=input('Elige un numero del 1 al 8 para eliminarlo: ')
numeros2.remove(int(eliminar_set))
print(numeros2)

{1, 2, 3, 4, 6, 7, 8}

In [17]:
#5
4 in numeros2

True

In [18]:
#6
numeros3 = {2,4,6,8,10,12}
numeros2.union(numeros3)

{1, 2, 3, 4, 6, 7, 8, 10, 12}